@model dotnet_squadManager.Models.UserViewModel

<section>
    <div class="login-container">
        <h1>Login</h1>
        <form>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn-login">Entrar</button>
                <a href="#" class="btn-secondary">Esqueceu a Senha?</a>
            </div>
        </form>
        <p>Ainda não tem uma conta? <a href="#">Crie uma</a></p>
    </div>
</section>